* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  background-color: rgb(233, 226, 217);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 4px;
}

caption {
  margin: 60px 0px 20px 0px;
  display: flex;
  gap: 4px;
  align-items: center;
}

caption > span {
  font-size: 2.5em;
  font-weight: 600;
}

.table__caption {
  display: flex;
  justify-content: center;
}

th,
td {
  padding: 4px 8px;
  text-align: left;
}

tr:not(:last-child),
tr:first-child {
  border-bottom: 1px solid;
}

tr:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}
tr:nth-child(even) {
  background-color: rgb(0, 0, 0);
  color: white;
}

.table__header {
  background-color: rgb(75, 74, 73) !important;
  color: white;
}

.books__container {
  width: 80vw;
  margin: 0 auto;
}

.book__remove {
  border: none;
  background-color: transparent;
  vertical-align: middle;
  cursor: pointer;
}

tr:nth-child(odd) .book__remove > img {
  filter: brightness(0);
  height: 20px;
  margin-top: 3px;
}

tr:nth-child(even) .book__remove > img {
  filter: brightness(100);
  height: 20px;
  margin-top: 3px;
}

.add__book {
  height: 30px;
  width: 60px;
  background-color: rgb(89, 111, 255);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;

  align-self: end;
  margin-bottom: 5px;
}

.add__book:hover {
  background-color: rgb(45, 73, 255);
}

dialog {
  height: 400px;
  width: 400px;
  padding: 30px 20px;
  position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  /* background-color: rgb(194, 97, 163); */
  /* border: none; */
  border-radius: 8px;
  box-shadow: 0 5 10px 2px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__title {
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
}

.form__row {
  display: flex;
  flex-direction: column;
}

.form__row > label {
  font-weight: 500;
}

.form__row > input {
  padding: 4px;
}

button[type='submit'] {
  width: 100px;
  height: 30px;
  cursor: pointer;
  border-radius: 4px;
  align-self: center;
  background-color: rgb(89, 111, 255);
  border: none;
  color: white;
}

button[type='submit']:hover {
  background-color: rgb(45, 73, 255);
}
